.cart-details {
  position: sticky;
  top: 10px;
}

.user-info {
  display: flex;
  gap: 0.5rem;
  padding: 0.8rem 0;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-details-info {
  margin: 2rem 0 1.5rem;
}
.user-details-info p {
  margin: 0;
}

.user-details-info p strong {
  font-size: 1.2rem;
}

.user-details-info p span {
  color: lightgrey;
}

.cart-details h4 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.cart-details h4 span {
  font-size: 14px;
}

.break-minutes {
  margin: 1.5rem 0 4rem;
}

.break-minutes span {
  border-radius: 50%;
  background-color: #8fe3cf;
  padding: 0.5rem 0.6rem 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.cart-details h3 {
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
}

.divider {
  padding: 0.6rem 0;
}

.break-minutes,
.exercise-details,
.break-times,
.user-details-info {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding: 1rem;
  border-radius: 10px;
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.exercise-details strong,
.break-times strong {
  font-size: 17px;
  font-weight: 500;
}
