.accordion-container {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
  padding: 5rem 0;
}

.accordion-header {
  background-color: hsl(209, 23%, 22%) !important;
  color: hsl(0, 0%, 100%);
}
