.home-container {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  gap: 1.5rem;
}

.activity-content-container {
  border: 1px solid blue;
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  padding: 5rem 0 7rem;
  min-height: calc(100vh- 80px);
}

.cart-container {
  border: 1px solid green;
}
